{#
/**
 * @file
 * Twig template for the change password form
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{% set ur_count_class  =
    user_registry_count ? 'ur-count-' ~ user_registry_count
%}
{%  set pwd_form_class =
pass_reset_token ? 'apic-reset-pwd-form' : 'apic-change-pwd-form' %}
{%  set pwd_form_wrapper =
    pass_reset_token ? 'apic-user-form-wrapper' : 'apic-change-form-wrapper' %}
{% if pass_reset_token %}
<div class='apic-user-form apic-user-form-change-pwd {{ ur_count_class }}'>
  <h3 class='apic-user-form-header'>{{ 'Change your password'|t }}</h3>
  <div class='apic-user-form-text'>{{ 'Change your password.'|t }}</div>
{% endif %}
  <form{{ attributes.addClass(pwd_form_class) }}>
    <div class='{{ pwd_form_wrapper }}'>
      {{ children }}
    </div>
  </form>
    {% if pass_reset_token %}
</div>
{% endif %}
