{#
/**
 * @file
 *
 * Template for the subscribe confirmation page of the subscription wizard
 *
 * @ingroup templates
 */
#}
<div class="apicWizardMain apicSubscribeChooseApp">
    <div class="apicWizardHeader apicSubscribeHeader">{{ 'Select Application'|t }}</div>
    <div class="apicSubscribeInfotext">
        {% if element['#messages'].subscribedAppsNotice %}
            {{ element['#messages'].subscribedAppsNotice }}
        {% endif %}
        {% if element['#messages'].suspendedAppsNotice %}
            {{ element['#messages'].suspendedAppsNotice }}
        {% endif %}
        {% if element['#messages'].noAppsNotice %}
            {{ element['#messages'].noAppsNotice }}
        {% endif %}
    </div>
    <div class="apicSubscribeAppForm">
        <form {{ attributes }}>
            {{ children }}
        </form>
    </div>
</div>
