{#
/**
 * @file
 *
 * Template for the subscribe confirmation page of the subscription wizard
 *
 * @ingroup templates
 */
#}
<div class="apicWizardMain apicSubscribeChooseApp">
  <div class="apicFormHeader">{{ element['#welcome'] }}</div>
  <div class="apicSubscribeInfoRow">
    <div class="apicSubscribeInfotext">
      {% if element['#messages'].subscribedAppsNotice %}
        {{ element['#messages'].subscribedAppsNotice }}
      {% endif %}
      {% if element['#messages'].suspendedAppsNotice %}
        {{ element['#messages'].suspendedAppsNotice }}
      {% endif %}
      {% if element['#messages'].noAppsNotice %}
        {{ element['#messages'].noAppsNotice }}
      {% endif %}
    </div>
  </div>
  <div class="apicNewAppWrapper"></div>
  <div class="apicSubscribeAppForm">
    <div class="apicSubscribeNewAppWrapper">{{ element['#createNewApp'] }}</div>
    <form {{ attributes }}>
      {{ children }}
    </form>
  </div>
</div>
