{#
/**
 * @file
 * Default theme implementation for the consumer organization analytics
 *
 * Variables available:
 * - consumerorgId: the consumer organization id
 * - catalogId: the catalog ID
 * - catalogName: urlencoded catalog name
 * - porgId: provider organization ID
 * - consumerorgTitle
 * @ingroup themeable
 */
#}
<article class="node">
  <div class="apicMyOrg">
    <header class="titleSection apicMyOrgHeader">
      <div class="titleInnerWrapper">
        <div class="leftTitle">
          <h1 class="orgName apicTruncate">{{- consumerorgTitle -}}</h1>
        </div>
        <div class="rightTitle">
          <div class="extraMenu apicMyOrgActions">
            <ul class="overflow-menu organizationMenu dropitmenu">
              <li title="{{ 'Manage organization'|t }}"><a href="#" class="trigger">
                <span class="dropit-icon">
                <svg version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="32px" height="32px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                     xml:space="preserve">
                  <style type="text/css">.st0 {
                      fill: none;
                    }</style>
                  <title>overflow-menu--vertical</title>
                  <circle cx="16" cy="8" r="2"/>
                  <circle cx="16" cy="16" r="2"/>
                  <circle cx="16" cy="24" r="2"/>
                  <rect id="_Transparent_Rectangle_" class="st0" width="32" height="32"/>
                </svg></span></a>
                <ul class="dropitmenu-submenu">
                  <li class="editOrganizationName">
                    <a href="{{ url('consumerorg.update') }}" title="{{ 'Edit organization name'|t }}">
                      {{ 'Edit organization name'|t }}
                    </a>
                  </li>
                  {% if myorg_members|length > 1 %}
                    <li class="changeOrganizationOwner">
                      <a href="{{ url('consumerorg.changeowner') }}" title="{{ 'Change organization owner'|t }}">
                        {{ 'Change organization owner'|t }}</a>
                    </li>
                  {% endif %}

                  <li class="deleteOrganization">
                    <a href="{{ url('consumerorg.delete') }}" title="{{ 'Delete organization'|t }}">
                      {{ 'Delete organization'|t }}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="organizationTabs">
          <ul>
            <li class="orgManage"><a href="{{- path('ibm_apim.myorg') -}}">{{ 'Manage'|t }}</a></li>
            {% if analytics_access %}
              <li class="selected orgAnalytics">
                <a href="#">{{ 'Analytics'|t }}</a>
              </li>
            {% endif %}
            {% if billing_access %}
              <li class="orgBilling">
                <a href="{{- path('ibm_apim.billing') -}}">{{ 'Billing'|t }}</a>
              </li>
            {% endif %}
            <li class="orgActivity">
              <a href="{{- path('ibm_apim.activity') -}}">{{ 'Notifications'|t }}</a>
            </li>
            {% if tabs is not empty %}
              {% for tab in tabs %}
                <li class="orgExtraTab">
                  <a href="{{- path(tab.path) -}}">{{ tab.title }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>

      </div>
    </header>
    <div class="ibmapimAnalytics ibmapimOrgAnalytics">
      {% if analytics_access and events_found %}
        <div class="enforcedEventsNotification alert short alert-info" role="alert">
          <div class="alert-details">
              <span class="icon icon-info" aria-hidden="true">
                <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" fill-rule="evenodd">
                  <path
                      d="M8,0 C3.6,0 0,3.6 0,8 C0,12.4 3.6,16 8,16 C12.4,16 16,12.4 16,8 C16,3.6 12.4,0 8,0 L8,0 Z M8,4 C8.6,4 9,4.4 9,5 C9,5.6 8.6,6 8,6 C7.4,6 7,5.6 7,5 C7,4.4 7.4,4 8,4 L8,4 Z M10,12 L6,12 L6,11 L7,11 L7,8 L6,8 L6,7 L9,7 L9,11 L10,11 L10,12 L10,12 Z"
                      id="Shape"></path>
                </svg>
              </span>
            <div class="alert-text-wrapper">
              <h4 class="sr-only">{{ 'Informative message'|t }}</h4>
              <ul class="item-list item-list--messages">
                <li class="item item--message">
                  {{ 'Note: Use of Event APIs will not be represented.'|t }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="analyticsWidgetContainer">
        {{ drupal_block('app_analytics_summary', wrapper=false) }}
        {{ drupal_block('app_totals', wrapper=false) }}
        {{ drupal_block('app_api_call_summary', wrapper=false) }}
        {{ drupal_block('app_api_call_errors', wrapper=false) }}
      </div>
    </div>
  </div>
</article>
