{#
/**
 * @file
 * Default theme implementation for the support page
 *
 * @ingroup themeable
 */
#}

<div class="ibmapimSupport">
  <div id="support-wrapper">
    <div class="supportContentWrapper">
      <div class="faqDiv">
        {{ drupal_view('faqs', 'page_1') }}
      </div>
      <div class="contactDiv">
        {% if forum %}
          <div class="forumDiv">
            <h2>{{ 'Search Developer Forum'|t }}</h2>
            <p>{% set forum_path = path('forum.index') %}{% trans %}
              Connect to our <a href="{{ forum_path }}">developer forum</a> to ask questions and search content from experienced developers.
              {% endtrans %}</p>
          </div>
        {% endif %}
        {% if contact %}
          <div class="contactFormDiv">
            <h2>{{ 'Provide Feedback'|t }}</h2>
              <a href="#feedback" class="feedbackToggle" data-toggle="collapse">{{ 'Tell us what you think.'|t }}</a>
              <div id="feedback" class="collapse feedbackCollapse">
                {{ drupal_entity('block','contactblock') }}
              </div>
          </div>
        {% endif %}
        {% if social %}
          <div class="socialDiv">
            <h2>{{ 'Get Social'|t }}</h2>
            {{ drupal_entity('block', 'socialmedialinks') }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>