{#
/**
 * @file
 * Default teaser theme implementation for products.
 *
 * @ingroup themeable
 */
#}
{%- set classes = [
  'node',
  'node--id-' ~ node.id,
  ('node--type-' ~ node.bundle)|clean_class,
  view_mode ? ('node--view-mode-' ~ view_mode)|clean_class,
  ('productNodeID-' ~ node.id)|clean_class,
  ('productTitle-' ~ node.title[0].value)|clean_class,
  ('productVersion-' ~ content.apic_version['#items'][0].value)|clean_class
] -%}

<article id="node-{{ node.id }}" {{ attributes.addClass(classes) }} aria-label="{{ node.title[0].value }}">
  <div class="apicProduct">
    <header class="node__header--has-meta node__header apicProductHeader">
      <div class="breadcrumb">
        <a href="{{ path('view.products.page_1') }}">{{ 'All Products'|t }}</a> /
      </div>
      <div class="apicProductTitle">
        {% if content.apic_image is defined and content.apic_image|render|trim is not empty %}
          <div class="apicProductIcon">
            {{ content.apic_image }}
          </div>
        {% elseif showPlaceholders %}
          <div class="apicProductIcon">
            <img src="{{- placeholderUrl -}}" alt=""/>
          </div>
        {% endif %}
        <div class="apicProductTitleText">
          <h1 class="productName">
                <span
                  class="field field-name-title field-formatter-string field-type-string field-label-hidden">{{- label -}}</span>
          </h1>
          {% if showVersions %}
            <span class="apicProductVersion">{{- content.apic_version -}}</span>
          {% endif %}
          {{ content.apic_rating }}
        </div>
        {% if content.product_state['#items'][0].value is defined and content.product_state['#items'][0].value is not empty and content.product_state['#items'][0].value != 'published' %}
          <div class="apicProductState">
            {{ content.product_state['#items'][0].value }}
          </div>
        {% endif %}
      </div>
    </header>
    <div class="node__content apicProductBody">
      <div class="apicProductTags">
        {{ content.apic_tags }}
      </div>
      {% if content.apic_summary['#items'][0].value is defined and content.apic_summary['#items'][0].value is not empty %}
        <div class="apicProductSummary">
          {{ content.apic_summary }}
        </div>
      {% endif %}
      {% if content.apic_description['#items'][0].value is defined and content.apic_description['#items'][0].value is not empty %}
        <div class="apicProductDesc">
          {{ content.apic_description }}
        </div>
      {% endif %}
      <div class="apicAttachments">
        {{ content.apic_attachments }}
      </div>
      {% if docpages is defined and docpages is not empty %}
        <div class="customDocPages">
          <div class="field--label">{{ 'Documentation'|t }}</div>
          <div class="field--item">
            {% for docpage in docpages %}
              <div class="docPage {{ docpage.title|clean_class }}">
                <a href="{{ docpage.url }}">{{ docpage.title }}</a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if custom_fields is defined and custom_fields is not empty %}
        <div class="customFields">
          {% for custom_field in custom_fields %}
            <div class="{{ custom_field|clean_class }}">
              {{ content[custom_field] }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="field apis">
        <h3 class="field__label label">{{ 'APIs'|t }}</h3>
        <ul class="apicProductApiList">
          {% if content.apic_pathalias['#items'][0].value is defined and content.apic_pathalias['#items'][0].value is not empty %}
            {% set prodNode = content.apic_pathalias['#items'][0].value %}
          {% else %}
            {% set prodNode = node.id %}
          {% endif %}
          {% for api in apiList %}
            {% if api.node.apic_pathalias['#items'][0].value is defined and api.node.apic_pathalias['#items'][0].value is not empty %}
              {% set apiNode = api.node.apic_pathalias['#items'][0].value %}
            {% else %}
              {% set apiNode = api.node.id %}
            {% endif %}
            <li class="apicProductApiListItem apiNodeID-{{ api.node.id|clean_class }} apiTitle-{{ api.node.title[0].value|clean_class }} apiVersion-{{ api.node.apic_version[0].value|clean_class }}">
              <div class="apicApiTeaser">
                {% if api.icon is defined and api.icon|render|trim is not empty %}
                  <div class="apicProductIcon">
                  <img src="{{- api.icon }}" alt=""/>
                  </div>
                {% elseif showPlaceholders %}
                  <div class="apicProductIcon">
                    <img src="{{- api.placeholderUrl -}}" alt=""/>
                  </div>
                {% endif %}
                <a href="{{- path('product.api', {'prodNode': prodNode, 'apiNode': apiNode}) -}}" rel="bookmark">
                  <h4>
                    {{ api.node.title[0].value }}
                    {% if showVersions %}
                      <span class="apicProductApiVersion">{{ api.node.apic_version[0].value }}</span>
                    {% endif %}
                  </h4>

                </a>

              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% set multipleRates = false %}
      {% set requireApproval = false %}
      <div class="field plans">
        <h3 class="field__label label">{{ 'Plans'|t }}</h3>
        <div class="subHeading">
          {% if not userLoggedIn %}
            <div class="notLoggedIn">
              <p>
                {% if selfSignUpEnabled %}
                  {% set register_path = path('user.register') %}
                  {% set login_path = path('user.login') %}
                  {% trans %}
                    In order to subscribe, you must <a href="{{ register_path }}">create an account</a> or <a
                    href="{{ login_path }}">sign in</a>.
                  {% endtrans %}
                {% else %}
                  {% set login_path = path('user.login') %}
                  {% trans %}
                    In order to subscribe, you must <a href="{{ login_path }}">sign in</a>.
                  {% endtrans %}
                {% endif %}</p>
            </div>
          {% endif %}
        </div>

        <div class="planComparisonTable">
          <div class="apicPlansTable">
            <div class="apicTableFixedContainer">
              <div class="apicTableFixedColumn">
                <table>
                  <thead>
                  <tr>
                    <th class="apicFixedColumn tlcorner hidden">
                      <div class="apicTableStandardCell title"><span class="planName">{{ "APIs"|t }}</span></div>
                    </th>
                    {% for planid, plan in planList %}
                      <th class="planTitle">
                        <div class="apicTableStandardCell title">
                          <span class="planName">
                            {{ plan.data.title }}
                          </span>
                          {% if plan.requiresApproval %}
                            {% set requireApproval = true %}
                            {{ key_svg|raw }}
                          {% endif %}
                          <div class="planSubscribe">
                            {% if billing %}
                              <div class="apicBillingInfo">
                                {{ plan.billing-info }}
                              </div>
                            {% endif %}

                            {% if subscribable %}
                              <a class="button" href="{{ path('ibm_apim.subscription_wizard.noplan') }}/?productId={{ node.id }}&planTitle={{ plan.data.title }}&planId={{ planid }}">
                                {{ 'Subscribe'|t }}
                              </a>
                            {% else %}
                              <button disabled>{{ 'Subscribe'|t }}</button>
                              <div class="apicSubscribeMsg">
                                {% if content.product_state[0].value is defined and content.product_state[0].value == 'deprecated' %}
                                  {{ 'This plan is deprecated'|t }}
                                {% else %}
                                  {{ 'This plan is not subscribable'|t }}
                                {% endif %}
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </th>
                    {% endfor %}
                  </tr>
                  </thead>
                  <tbody class="apicPlansTableBody hidden">
                  {% for api in apiList %}
                    <tr class="api-{% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %}">
                      <th class="apicFixedColumn">
                        <div class="apicApiCell">
                          <div class="apicTwistieTitle">
                            <a onclick="Drupal.settings.product.toggleTwistieRow(event)" href="javascript:">
                              <span class="apicTwistieIcon"><i class="fa fa-angle-right"></i></span>
                              <span
                                class="apiName">{{ api.node.title[0].value }}{% if showVersions %} {{ api.node.apic_version[0].value }}{% endif %}</span>
                            </a>
                          </div>
                        </div>
                      </th>
                      {% for planid, plan in planList %}
                        <td>
                          <div class="apicTableStandardCell"
                               data-api="{{ api.node.title[0].value }}{% if showVersions %} {{ api.node.apic_version[0].value }}{% endif %}">
                            {% if plan.data.apiList is empty or api.node.api_xibmname[0].value in plan.data.apiList %}
                              {% if plan.rateData is defined %}
                                {% set multipleRates = true %}
                                <span class="multiRateLimits"
                                      data-ratelimits="{{ plan.rateData }}">{{ plan.rateLimit }}</span>
                              {% else %}
                                {{ plan.rateLimit }}
                              {% endif %}
                            {% else %}
                              &#x2014;
                            {% endif %}
                          </div>
                        </td>
                      {% endfor %}
                    </tr>
                    <tr class="apicTwistieRow api-{% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %}">
                      <th class="apicFixedColumn">
                        {% for pathSegment, path in api.swagger.paths %}
                          {% for verb, operation in path %}
                            {% if verb|upper in ['PUT', 'POST', 'GET', 'DELETE', 'OPTIONS', 'HEAD', 'PATCH'] %}
                              <div class="apicApiOperation apicTruncate apicSecondaryRow {{ verb|lower }}"
                                   title="{{ verb|upper }} {{ pathSegment }}">
                                <span class="verb">{{ verb|upper }}</span>
                                <span  class="path">{{ pathSegment }}</span>

                              </div>
                            {% endif %}
                          {% endfor %}
                        {% endfor %}
                      </th>
                      {% for planid, plan in planList %}
                        <td>
                          <div class="apicTableStandardCell">
                            {% for apiName, apiData in plan.nodes %}
                              {% if apiName == api.node.apic_ref[0].value|clean_class %}
                                {% for path, verbs in apiData.resources %}
                                  {% for verb, verbData in verbs %}
                                    <div class="apicSecondaryRow" data-op="{{ verb }} {{ path }}">
                                      {% if verbData.enabled %}
                                        {% if verbData.rateData is defined %}
                                          {% set multipleRates = true %}
                                          <span class="multiRateLimits"
                                                data-ratelimits="{{ verbData.rateData }}">{{ verbData.rateLimit }}</span>
                                        {% else %}
                                          {{ verbData.rateLimit }}
                                        {% endif %}
                                      {% else %}
                                        <i class="fa fa-times"></i>
                                      {% endif %}
                                    </div>
                                  {% endfor %}
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                          </div>
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
                <div class="planTableSelector">
                   <span class="hideDetails">
                  <a class="showComparisonTable" title="{{ 'Show a table comparing the available plans'|t }}"
                     onclick="Drupal.settings.product.showTable(event)" href="javascript:">
                    <span class="linkLabel">{{ 'View details'|t }}</span>
                    <span class="apicTwistieIcon"><i class="fa fa-angle-down"></i></span>
                  </a>

                    <a class="showPlans hidden" title="Show the available plans" onclick="Drupal.settings.product.showPlans(event)" href="javascript:">
                    <span class="linkLabel">Hide details</span>
                    <span class="apicTwistieIcon"><i class="fa fa-angle-up"></i></span>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="tableKey">
            {% if multipleRates %}
              <div class="multipleRateLimitsMessage hidden">
                {{ '* burst limit exists; hover to view limits'|t }}
              </div>
            {% endif %}
            {%  if requireApproval %}
              <div class="planRequiresSubKey">
                <p>
                  {{ key_svg|raw }}
                  {{ 'Requires subscription approval'|t}}
                </p>
              </div>
            {% endif %}

          </div>
          {% if userLoggedIn and not userHasSubManage %}
            <div class="productLoginMessage">
              <div class="alert short alert-info" role="alert">
                <div class="alert-details">
                <span class="icon icon-info" aria-hidden="true">
                  <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink" fill-rule="evenodd">
                    <path
                      d="M8,0 C3.6,0 0,3.6 0,8 C0,12.4 3.6,16 8,16 C12.4,16 16,12.4 16,8 C16,3.6 12.4,0 8,0 L8,0 Z M8,4 C8.6,4 9,4.4 9,5 C9,5.6 8.6,6 8,6 C7.4,6 7,5.6 7,5 C7,4.4 7.4,4 8,4 L8,4 Z M10,12 L6,12 L6,11 L7,11 L7,8 L6,8 L6,7 L9,7 L9,11 L10,11 L10,12 L10,12 Z"
                      id="Shape"></path>
                  </svg>
                </span>
                  <div class="alert-text-wrapper">
                    <h4 class="sr-only">{{ 'Informative message'|t }}</h4>
                    <ul class="item-list item-list--messages">
                      <li class="item item--message">
                        {{ 'Only users with the required permissions can subscribe to plans'|t }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>

        <div class="addToAny">{{ content.addtoany }}</div>
      </div>
      {% if content.product_contact_name['#items'][0].value is defined or content.product_contact_email['#items'][0].value is defined or content.product_contact_url['#items'][0].value is defined %}
        <div class="field contact">
          <h3 class="field__label label">{{ 'Contact information'|t }}</h3>

          <div class="apicProductContactInformation">

            {% if content.product_contact_name['#items'][0].value is defined %}
              <div class="contactName">{{ content.product_contact_name['#items'][0].value }}</div>
            {% endif %}
            {% if content.product_contact_email['#items'][0].value is defined %}
              <div class="contactEmail"><a
                  href="mailto:{{- content.product_contact_email['#items'][0].value -}}">{{ 'email'|t }}</a>
              </div>
            {% endif %}
            {% if content.product_contact_url['#items'][0].value is defined %}
              <div class="contactUrl"><a href="{{- content.product_contact_url['#items'][0].value -}}"
                                         target="_blank"
                                         rel="noopener">{{ content.product_contact_url['#items'][0].value }}</a></div>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% if content.product_terms_of_service['#items'][0].value is defined %}
        <div class="field apicProductLicense">
          <h3 class="field__label label">{{ 'License'|t }}</h3>
          <div class="licenseName"><a href="{{- content.product_license_url['#items'][0].value -}}"
                                      target="_blank"
                                      rel="noopener">{{ content.product_license_name['#items'][0].value }}</a>
          </div>
        </div>
      {% endif %}
      {% if content.product_license_url['#items'][0].value is defined %}
        <div class="field apicProductTermsOfService">
          <h3 class="field__label label">{{ 'Terms of Service'|t }}</h3>
          <div class="tosContainer">
            <div class="collapse termsOfService" id="collapseTos" aria-expanded="false">{{ content.product_terms_of_service }}</div>
            <a role="button" class="collapsed fa" data-toggle="collapse" href="#collapseTos" aria-expanded="false" aria-controls="collapseTos"></a>
          </div>
        </div>

      {% endif %}
      <div class="comments">{{ content.comment }}</div>
    </div>
  </div>
</article>
