<div class="apicAppCredentials">
  {% if userHasAppManage %}
    {% set initialCredentials = node.credentials|first %}
    <div class="applicationCredentials">
      <div class="credentialsTable">
        <div class="credentialsHeader">
          <div class="credentialsTitle">{{ 'Credentials'|t }}</div>
          <div class="credentialsActions">
            {% if allowNewCredentials %}
              <div class="credentialsActionsAdd"><a class="addCredential" title="{{ 'Add'|t }}"
                                                    href="{{- path('apic_app.credentials_create', {'appId': node.application_id.value}) -}}">
                  <svg width="16px" height="16px" viewBox="0 0 24 24" version="1.1"
                       xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <polygon points="14 0 10 0 10 10 0 10 0 14 10 14 10 24 14 24 14 14 24 14 24 10 14 10"></polygon>
                  </svg>
                </a></div>
            {% endif %}
            <div class="credentialsActionsManage">
              <ul class="overflow-menu credentialsMenu dropitmenu">
                <li title="{{ 'Manage credentials'|t }}">
                  <a href="#" class="trigger">
                        <span class="dropit-icon">
                          <svg width="4px" height="20px" viewBox="0 0 4 20" version="1.1"
                               xmlns="http://www.w3.org/2000/svg"
                               xmlns:xlink="http://www.w3.org/1999/xlink" fill-rule="evenodd">
                            <circle id="Oval" cx="2" cy="2" r="2"></circle>
                            <circle id="Oval" cx="2" cy="10" r="2"></circle>
                            <circle id="Oval" cx="2" cy="18" r="2"></circle>
                          </svg>
                        </span>
                  </a>
                  {% if initialCredentials.id is defined and initialCredentials.id is not null %}
                    <ul class="dropitmenu-submenu">
                      <li class="editCredentials"><a
                            href="{{ path('apic_app.credentials_update', {'appId': node.application_id.value, 'credId': initialCredentials.id}) }}"
                            title="{{ 'Edit Credentials'|t }}">{{ 'Edit'|t }}</a>
                      </li>
                      {% if allowClientidReset %}
                        <li class="resetClientID"><a
                              href="{{ path('apic_app.reset_clientid', {'appId': node.application_id.value, 'credId': initialCredentials.id}) }}"
                              title="{{ 'Reset Credentials'|t }}">{{ 'Reset Credentials'|t }}</a>
                        </li>
                      {% endif %}
                      {% if allowClientsecretReset %}
                        <li class="resetClientSecret"><a
                              href="{{ path('apic_app.reset_clientsecret', {'appId': node.application_id.value, 'credId': initialCredentials.id}) }}"
                              title="{{ 'Reset Client Secret'|t }}">{{ 'Reset Client Secret'|t }}</a>
                        </li>
                      {% endif %}
                      {% if node.credentials|length > 1 %}
                        <li class="deleteCredentials"><a
                              href="{{ path('apic_app.credentials_delete', {'appId': node.application_id.value, 'credId': initialCredentials.id}) }}"
                              title="{{ 'Delete Credentials'|t }}">{{ 'Delete'|t }}</a>
                        </li>
                      {% endif %}
                    </ul>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="credentialsContent">
          <div class="credentialsTabs">
            <ul>
              {% for cred in node.credentials %}
                <li {% if cred.id == initialCredentials.id %} class="selected" {% endif %} {% if cred.summary is defined and cred.summary is not null %} data-credsummary="{{ cred.summary }}" {% endif %}
                    data-credid="{{ cred.id }}"><a
                      href="#">{% if cred.title and cred.title != cred.id %}{{ cred.title }}{% else %}{{ 'Default credentials'|t }}{% endif %}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="credentialsData">
            {% if initialCredentials.summary is defined and initialCredentials.summary is not null %}
              <div class="credentialSummary">{{ initialCredentials.summary }}</div>
            {% else %}
              <div class="credentialSummary hidden"></div>
            {% endif %}
            <div class="clientIDContainer toggleParent">
              <p class="field__label" id="clientIDInputLabel">{{ 'Client ID'|t }}</p>
              <div
                  class="bx--form-item js-form-item form-item js-form-type-textfield form-type-password js-form-item-password form-item-password form-group">
                <input class="form-control toggle" type="password" id="clientIDInput" aria-labelledby="clientIDInputLabel"
                       value="{{- initialCredentials['client_id'] -}}" readonly/>
              </div>
              <div class="apicAppCheckButton">
                <div
                    class="password-toggle bx--form-item js-form-item form-item js-form-type-checkbox form-type-checkbox checkbox">
                  <label
                      title="" data-toggle="tooltip" class="bx--label option" data-original-title=""><input
                        class="form-checkbox bx--checkbox" type="checkbox"><span class="bx--checkbox-appearance"><svg
                          class="bx--checkbox-checkmark" width="12" height="9" viewBox="0 0 12 9"
                          fill-rule="evenodd">
                        <path d="M4.1 6.1L1.4 3.4 0 4.9 4.1 9l7.6-7.6L10.3 0z"></path>
                      </svg></span><span class="children"> {{ 'Show' |t }}</span></label></div>
              </div>
            </div>
            <div class="clientSecretContainer">
              <p class="field__label">{{ 'Client Secret'|t }}</p>
              <div
                  class="bx--form-item js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-textfield form-item-textfield form-group">
                {% if initialCredentials.id is defined and initialCredentials.id is not null %}
                  <div class="apicAppCheckButton verifyButton">
                    <a class="button--primary button"
                       href="{{ path('apic_app.verify_clientsecret', {'appId': node.application_id.value, 'credId': initialCredentials.id}) }}">{{ 'Verify'|t }}</a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
