{#
/**
 * @file
 * Full view for appplications
 *
 * @ingroup themeable
 */
#}
{%- set classes = [
  'node',
  'node--id-' ~ node.id,
  ('node--type-' ~ node.bundle)|clean_class,
  apic_state ? ('application-state-' ~ apic_state)|clean_class,
  view_mode ? ('node--view-mode-' ~ view_mode)|clean_class
] -%}
{{ attach_library('ibm_apim/core') }}
{{ attach_library('apic_app/basic') }}
<article id="node-{{ node.id }}" {{ attributes.addClass(classes) }} aria-label="{{ node.title[0].value }}">
  <div class="applicationWrapper">
    <header class="titleSection">
      <div class="titleInnerWrapper">
        <div class="leftTitle">
          <div class="breadcrumb">
            <a href="{{- path('view.applications.page_1') }}">
              {{ 'Applications'|t }}
            </a>
          </div>
          <div class="applicationTitle">
            <div class="applicationLogo">
              {% if content.application_image is defined and content.application_image|render|trim is not empty %}
                <div class="apicAppIcon">
                  {{ content.application_image }}
                </div>
              {% elseif showPlaceholders %}
                <div class="apicAppIcon">
                  <img src="{{- placeholderUrl -}}" alt=""/>
                </div>
              {% endif %}</div>
            <h1 id="node-{{ node.id }}-title" class="applicationName apicTruncate"
                title="{{ node.title[0].value }}">{{- label -}}</h1>
            {% if applifecycleEnabled %}
              <div
                  class="applicationType {{ content.application_lifecycle_state['#items'][0].value|clean_class }}">{% if content.application_lifecycle_state['#items'][0].value|upper == 'DEVELOPMENT' %} {{ 'Development'|t }} {% else %} {{ 'Production'|t }} {% endif %}</div>
            {% endif %}
          </div>
        </div>
        <div class="rightTitle">
          {% if applifecycleEnabled and userHasAppManage %}
            <div class="apicAppLifecycle apicAppActions">
              {% if content.application_lifecycle_state['#items'][0].value|upper == 'DEVELOPMENT' %}
                {% if content.application_lifecycle_pending['#items'][0].value is not defined or content.application_lifecycle_pending['#items'][0].value is empty %}
                  {% if node.application_id.value is defined and node.application_id.value is not empty %}
                    <a href="{{- path('apic_app.promote', {'appId': node.application_id.value}) -}}"
                       class="button apicUpgradeApp"
                       title="{{ 'Upgrade to production'|t }}">{{ 'Upgrade to production'|t }}</a>
                  {% endif %}
                {% else %}
                  <span>{{ 'Pending Upgrade'|t }}</span>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
          {% if userHasAppManage %}
            <div class="extraMenu">
              <ul class="overflow-menu applicationMenu dropitmenu">
                <li title="{{ 'Manage application'|t }}"><a title="{{ 'Manage application'|t }}" href="#"
                                                            class="trigger">
                <span class="dropit-icon">
                <svg version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="32px" height="32px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;"
                     xml:space="preserve">
                  <style type="text/css">.st0 {
                      fill: none;
                    }</style>
                  <title>overflow-menu--vertical</title>
                  <circle cx="16" cy="8" r="2"/>
                  <circle cx="16" cy="16" r="2"/>
                  <circle cx="16" cy="24" r="2"/>
                  <rect id="_Transparent_Rectangle_" class="st0" width="32" height="32"/>
                </svg></span></a>
                  <ul class="dropitmenu-submenu">
                    {% if node.application_id.value is defined and node.application_id.value is not empty %}
                      <li class="editApplication"><a
                            href="{{ path('apic_app.update', {'appId': node.application_id.value}) }}"
                            title="{{ 'Edit App'|t }}">{{ 'Edit'|t }}</a>
                      </li>
                      {% if appImageUploadEnabled %}
                        <li class="uploadImage"><a
                              href="{{ path('apic_app.image_upload', {'appId': node.application_id.value}) }}"
                              title="{{ 'Upload image'|t }}">{{ 'Upload image'|t }}</a>
                        </li>
                      {% endif %}
                      <li class="deleteApplication"><a
                            href="{{ path('apic_app.delete', {'appId': node.application_id.value}) }}"
                            title="{{ 'Delete App'|t }}">{{ 'Delete'|t }}</a>
                      </li>
                    {% endif %}
                  </ul>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>
        {% if analytics_access %}
          <div class="applicationTabs">
            <ul>
              <li class="selected"><a href="#">{{ 'Dashboard'|t }}</a></li>
              <li><a class="subscriptionsApplication"
                     href="{{- path('apic_app.subscriptions', {'node': node.id}) -}}">{{ 'Subscriptions'|t }}</a></li>
              {% if notifications_access %}
                <li><a class="activityApplication"
                       href="{{- path('apic_app.activity', {'node': node.id}) -}}">{{ 'Notifications'|t }}</a></li>
              {% endif %}
            </ul>
          </div>
        {% else %}
          <div class="applicationTabs">
            <ul>
              <li class="selected"><a href="#">{{ 'Subscriptions'|t }}</a></li>
              {% if notifications_access %}
                <li><a class="activityApplication"
                       href="{{- path('apic_app.activity', {'node': node.id}) -}}">{{ 'Notifications'|t }}</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </header>
    {% if analytics_access and events_found %}
      <div class="enforcedEventsNotification alert short alert-info" role="alert">
        <div class="alert-details">
          <span class="icon icon-info" aria-hidden="true">
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill-rule="evenodd">
              <path
                  d="M8,0 C3.6,0 0,3.6 0,8 C0,12.4 3.6,16 8,16 C12.4,16 16,12.4 16,8 C16,3.6 12.4,0 8,0 L8,0 Z M8,4 C8.6,4 9,4.4 9,5 C9,5.6 8.6,6 8,6 C7.4,6 7,5.6 7,5 C7,4.4 7.4,4 8,4 L8,4 Z M10,12 L6,12 L6,11 L7,11 L7,8 L6,8 L6,7 L9,7 L9,11 L10,11 L10,12 L10,12 Z"
                  id="Shape"></path>
            </svg>
          </span>
          <div class="alert-text-wrapper">
            <h4 class="sr-only">{{ 'Informative message'|t }}</h4>
            <ul class="item-list item-list--messages">
              <li class="item item--message">
                {{ 'Note: Use of Event APIs will not be represented.'|t }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="contentInnerWrapper">
      <div class="applicationContent">
        {% if apic_state|lower|clean_class == 'disabled' %}
          <div class="alert alert-warning" role="alert">
            <div class="alert-details">
              {{ 'Warning: This application is disabled. '|t }}
              {% if contact %}
                <a href="{{ path('contact.site_page') }}"> {{ 'Contact us for more information'|t }} </a>
              {% else %}
                <a href="mailto:{{ site_admin_email }}"> {{ 'Contact us for more information'|t }} </a>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="applicationDescription">
          {{ content.apic_summary }}
        </div>
        <div class="applicationOAuthRedirect">
          {{ content.application_redirect_endpoints }}
        </div>
        {% if custom_fields is defined and custom_fields is not empty %}
          <div class="customFields">
            {% for custom_field in custom_fields %}
              <div class="{{ custom_field|clean_class }}">
                {{ content[custom_field] }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      {% if analytics_access %}
        <div class="analyticsWidgetContainer">
          {{ drupal_block('app_analytics_summary', wrapper=false) }}
          {{ drupal_block('app_totals', wrapper=false) }}
          {{ drupal_block('app_api_call_history', wrapper=false) }}
          {{ drupal_block('app_api_call_errors', wrapper=false) }}
        </div>
      {% else %}
        {% if userHasAppManage %}
          {{ drupal_block('app_credentials', wrapper=false) }}
          {{ drupal_block('app_subscriptions', wrapper=false) }}
        {% endif %}
      {% endif %}
    </div>
  </div>
</article>
